{% extends 'blog/base.html' %}
{% block title %} Posts {% endblock %}
{% block content %}
<h1>Blogify Posts</h1>
{% for post in posts %}
<h2>
  <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
</h2>
<p class="date">
  Published {{post.publish}} by {{post.author}}
</p>
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
{% comment %} FBV {% endcomment %}
{% comment %} {% include "blog/pagination.html" with page=posts %} {% endcomment %}
{% comment %} CBV {% endcomment %}
{% include "blog/pagination.html" with page=page_obj %}
{% endblock %}